@import url("game.css"); /* TODO: Refactor this to suit new designs */

/* Base.css */
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 5%;
	width: 90%;
	height: 90%;
}

/* State management */
section {
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
}

section.results {
	background: transparent;
}

body.idle section.idle {
	display: block;
}
body.loading section.loading {
	display: block;
}
body.lobby section.lobby {
	display: block;
}
body.in-game section.in-game {
	display: block;
}
body.paused section.paused {
	display: block;
}
body.results section.results, body.results section.in-game {
	display: block;
}