@import url("game.css"); /* TODO: Refactor this to suit new designs */

/* Base.css */
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 0px;
}

/* State management */
section {
	position: absolute;
	top:0;
	left:0;
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 2.5%;
	box-sizing: border-box;
	text-align: center;;
}

section.results {
	background: transparent;
}

body.idle section.idle {
	display: block;
}
body.loading section.loading {
	display: block;
}
body.lobby section.lobby {
	display: block;
}
body.in-game section.in-game {
	display: block;
}
body.paused section.paused {
	display: block;
}
body.results section.results, body.results section.in-game {
	display: block;
}